*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}




body {
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}


.section{
    height: 100%;
}

.green-dark {
    background-color: #027368;
}
.green-light {
    background-color: #04D99D;
}

.jumbotron {
    text-align: center;
    margin: 50px;
}

#home-page .jumbotron:hover {
    background-color: #04D99D;
    transition: 3s;
}

.col-jub-50{
    width: 50%;
}

.list-item {
    display: relative;
    color: #F2F2F2;
}

.negrito {
    font-weight: bold;
    color: #ffcf33;
}

.inputs-div {
    margin: 20px;
}

.buttons-div {
    height: 90px;
    justify-content: space-around;
    align-items: center;
    padding: auto;
}



#cadatro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flexbox;
}

.form-line{
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}

.button-action{
    cursor: pointer;
}

.row-flex-100{
    display: flex;
    width: 100%;
}

.row-50-left{
    width: -moz-available;
    width: 50%;
    text-align: left;
}

.row-50-right{
    width: -moz-available;
    width: 50%;
    text-align: right;
}