<div class="container">
    <div class="jumbotron green-light">
        <h1>Lista de Médicos</h1>
        <div class="row row-flex-100">
            <div class="row-50-left">
                <select name="filterSpecialty" ng-model="filterSpecialty"
                    ng-options="spec.name for spec in data.specialties track by spec.id">
                    <option value="" disabled selected>Filtrar por Especialidade</option>
                </select>
                <button class="btn btn-outline-dark" ng-click="cleanFilter()" align="right">
                    Limpar
                </button>
            </div>
            <div class="row-50-right">
                <button class="btn btn-outline-dark" data-target="#doctorModalEdit" data-toggle="modal"
                    ng-click="sendDoctor(null)" align="right">
                    Adicionar
                </button>
            </div>
        </div>
        
        <table ng-show="data.doctors.length > 0" class="table table-striped mt-3">
            <tr>
                <th class="list-item"><a class=" text-white" href="" ng-click="orderByField('id')">ID</a></th>
                <th class="list-item"><a class=" text-white" href="" ng-click="orderByField('name')">Nome</a></th>
                <th class="list-item">Nascimento</th>
                <th class="list-item">Ativo</th>
                <th class="list-item">Especialidades</th>
                <th class="list-item" colspan="2">Opções</th>
            </tr>
            <tr
                ng-repeat="doc in data.doctors | filter: filterSpecialty.name | orderBy: orderCriteria : orderDirection">
                <td>{{doc.id}}</td>
                <td>{{doc.name}}</td>
                <td>{{doc.birthday | date:'dd/MM/yyyy'}}</td>
                <td>{{doc.active ? 'SIM' : 'NÃO'}}</td>
                <td>{{doc.tempSpecialties}}</td>
                <td>
                    <a class="button-action" data-toggle="modal" data-target="#doctorModalEdit" ng-if="!equip.edit"
                        ng-click="sendDoctor(doc)" title="Editar"> <img
                            src="webapp/resources/images/iconfinder_edit.png" width="20px" /></a>
                </td>
                <td>
                    <a class="button-action" ng-if="!equip.edit" ng-click="delete(doc)" title="Excluir"> <img
                            src="webapp/resources/images/iconfinder_delete.png" width="20px" />
                </td>
            </tr>
        </table>
        <div ng-include="'/webapp/AngularJS/index/templates/doctor-modal.html'"></div>
    </div>
</div>