<div class="container">
    <div class="section">
        <div class="row text-center">
            <div class="col-md-6">
                <a href="/#!/doctors">
                    <div class="jumbotron">
                        <h3 class="list-item">Médicos</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="/#!/specialties">
                    <div class="jumbotron">
                        <h3 class="list-item">Especialidades Médicas</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>