<div class="container">
    <div class="jumbotron green-light">
        <h1>Lista</h1>
        <div style="width: -moz-available; text-align: right;">
            <button class="btn btn-outline-dark" data-target="#specialtyModalEdit" data-toggle="modal"
                ng-click="sendSpecialty(null)" align="right">
                Adicionar
            </button>
        </div>
        <table ng-show="data.doctors.length > 0" class="table table-striped mt-3">
            <tr>
                <th class="list-item"><a class=" text-white" href="" ng-click="ordenarPor('id')">ID</a></th>
                <th class="list-item"><a class=" text-white" href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th class="list-item">Ativo</th>
                <th class="list-item">Especialidades</th>
                <th class="list-item" colspan="2">Opções</th>
            </tr>
            <tr
                ng-repeat="doc in data.doctors | filter: criterioDeBusca | orderBy: criterioDeOrdenacao:direcaoDaOrdenacao">
                <td>{{doc.id}}</td>
                <td>{{doc.name}}</td>
                <td>{{doc.birthday.toISOString().slice(0, 10);}}</td>
                <td>{{doc.tempSpecialties}}</td>
                <td>
                    <a class="button-action" data-toggle="modal" data-target="#doctorModalEdit" ng-if="!equip.edit"
                        ng-click="sendSpecialty(doc)" title="Editar"> <img
                            src="webapp/resources/images/iconfinder_edit.png" width="20px" /></a>
                </td>
                <td>
                    <a class="button-action" ng-if="!equip.edit" ng-click="delete(doc)" title="Excluir"> <img
                            src="webapp/resources/images/iconfinder_delete.png" width="20px" />
                </td>
            </tr>
        </table>
        <div ng-include="'/webapp/AngularJS/index/templates/doctor-modal.html'"></div>
    </div>
</div>